h1{font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    float: left;
    border: solid red;
    padding: 5mm;
}
h2{font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: blue;
    float: right;
    border: solid blue;
    padding: 5mm;
}
h3{font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: yellow;
    float: left;
    border: solid yellow;
    padding: 5mm;
    margin-top: 10mm;
}
h4{font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    background-color: green;
    float: right;
    border: solid green;
    padding: 5mm;
}